extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Michael Kobela

        p.lead.text-light
          | Full Stack JavaScript Developer, lifelong learner and contributor.

        .portfolio-bio
          p
            | A successful career in software engineering requires a passion for lifeline learning, curiosity, and problem solving. This has been my experience so far in my journey.
            | Staring out as a hardware designer writing assembler language, then onto C++ in the Microsoft environment. Eventually moving on to JAVA writing full stack programs for the
            | commercial security industry. Now my latest drive is to break into the Javascript full stack ecosystem where I see so much opportunity for developing creative solutions.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li Javascript
          li Selenium
          li Node.js 
          li Express
        h6 Contact Info

        ul
          li 561-997-8964
          li mkobela@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/michaelkobela/') LinkedIn
        a.button.expanded(href='https://github.com/mkobela') GitHub
        a.button.expanded(href='https://twitter.com/mpkobela') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back